<footer id="about" class="bg-dark text-light pt-5">

    <div class="container">

        <div class="row g-4 pb-4">

            <div class="col-lg-5">

                <h4 class="fw-bold">
                    <i class="bi bi-shield-check me-2"></i>
                    CivicGuide
                </h4>

                <p class="text-light-emphasis mt-3">
                    CivicGuide is a citizen-focused platform designed to
                    make government services easier to understand and
                    navigate.
                </p>

            </div>


            <div class="col-md-3 col-lg-2">

                <h6 class="fw-bold">
                    Quick Links
                </h6>

                <ul class="list-unstyled">

                    <li class="mb-2">
                        <a href="#" class="footer-link">
                            Home
                        </a>
                    </li>

                    <li class="mb-2">
                        <a href="#services" class="footer-link">
                            Services
                        </a>
                    </li>

                    <li class="mb-2">
                        <a href="#how-it-works" class="footer-link">
                            How It Works
                        </a>
                    </li>

                </ul>

            </div>


            <div class="col-md-4 col-lg-3">

                <h6 class="fw-bold">
                    Platform
                </h6>

                <ul class="list-unstyled text-light-emphasis">

                    <li class="mb-2">
                        Citizen Assistance
                    </li>

                    <li class="mb-2">
                        Verified Mentors
                    </li>

                    <li class="mb-2">
                        Service Requests
                    </li>

                    <li class="mb-2">
                        Request Tracking
                    </li>

                </ul>

            </div>


            <div class="col-md-5 col-lg-2">

                <h6 class="fw-bold">
                    Connect
                </h6>

                <p class="text-light-emphasis">
                    Need help navigating a government service?
                </p>

                <a routerLink="/register" class="btn btn-primary btn-sm">
                    Get Started
                </a>

            </div>

        </div>


        <hr class="border-secondary">


        <div class="d-flex justify-content-between
                align-items-center flex-wrap py-3">

            <p class="text-light-emphasis mb-0">
                © 2026 CivicGuide. All rights reserved.
            </p>

            <p class="text-light-emphasis mb-0">
                Built to simplify civic services.
            </p>

        </div>

    </div>

</footer>